<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flutter.kbz.pay.flutter_kbz_pay">

    <application>
        <activity
            android:name="com.kbzbank.payment.sdk.callback.CallbackResultActivity"
            android:exported="true" />
    </application>
</manifest>
